
/* background map */
div.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#photobox {
  /* background box for images */
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 15px 15px 15px;
  cursor: move;
}

/* photos, old on bottom, new on top */
#photo img.bottom {
  position:absolute;
}

#photo img.top {
  position:relative;
  opacity: 0;
}

#infotext {
  /* styling of place info text */
  color: black;
  font-family: helvetica;
  font-size: 100%;
}

#links {
  /* background box for links */
  background: rgba(255, 255, 255, 0.75);
  padding: 8px 8px 8px 8px;
}

#appInfo {
  /* background box for links */
  background: rgba(255, 255, 255, 1);
  padding: 2px 2px 2px 2px;
}

#appInfoText {
  margin-left: 70px;
  margin-top: 15px;
  font-family: helvetica;
  color: black;
}

/* slider */
#contrastSlider {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: hand;
}









